<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<% if(theme.hide_left_menu){%>
<body  oncontextmenu=self.event.returnValue=false>
<%}else{%>
<body>
<%}%>
  <div id="container" class="container">
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
  <script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "https://alimama.alicdn.com/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_122570482_24062297_94910756",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "23766682",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "tk-01",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>
<a data-type="4" data-tmpl="390x460" data-tmplid="134" data-style="2" data-border="1" biz-s_logo="1" biz-s_hot="1" href="#">爱淘宝</a>
</body>
</html>
