<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<% if(theme.hide_left_menu){%>
<body  oncontextmenu=self.event.returnValue=false>
<%}else{%>
<body>
<%}%>

<a data-type="2" biz-keyword="机械键盘" data-tmpl="720x220" data-tmplid="209" data-rd="2" data-style="2" data-border="1" href="#">机械键盘</a>

  <div id="container" class="container">
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>

</body>
</html>
