<nav id="mobile-nav">
  <div class="intrude-less">
    <header id="header" class="inner">
      <a href="/" class="profilepic">
        <% if (theme.animate){ %><img lazy-src="<%=theme.avatar%>" class="block-select js-avatar"><%}else{%><img src="<%=theme.avatar%>" class="block-select js-avatar" style="width: 100%;height: 100%;opacity: 1;"><%}%>
	  </a>
	  <% if (theme.subtitle){ %><p class="header-subtitle"><%=theme.subtitle%></p><%}%>
	  <nav class="header-menu">
	    <ul>
        <% for (var i in theme.menu){ %><li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li><%}%><div class="clearfix"></div>
		</ul>
	  </nav>
	</header>				
  </div>
</nav>
